<h1>Event handling cards</h1>
<div class="card-container">
  <!-- card -->
  <div class="my-card">
    <img src="/assets/img/1.jpeg">
    <button class="btn btn-primary">vote</button>
  </div>
  <!-- card -->
  <div class="my-card">
    <img src="/assets/img/2.jpg">
    <button class="btn btn-primary">vote</button>
  </div>
  <!-- card -->
  <div class="my-card">
    <img src="/assets/img/3.jpg">
    <button class="btn btn-primary">vote</button>
  </div>
  <!-- card -->
  <div class="my-card">
    <img src="/assets/img/4.jpeg">
    <button class="btn btn-primary">vote</button>
  </div>
</div><!-- card-container end -->
